#root {
	align-items: stretch;
}
#contentRoot {
	display: flex;
    width: 100%;
    align-items: stretch;
	background-color: #f3f5f7;
}

#contentWrapper {
	padding: 3rem;
}
#content {
	background-color: #ffffff;
	padding: 1rem;
	box-shadow: 0 2px 8px rgba(0,0,0,.1);
	border-radius: 0.5rem;
}