#navBarMain {
	background-color: #255f8e;
	min-height: 82px;
}
.search-icon {
	min-width: 20px;
	min-height: 20px;
}
#navBarMain .input-group-text {
	background-color: white;
	border: 0;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}
#navBarMain .form-control {
	border-color: #ffffff;
	min-height: 52px;
}