@import url('https://fonts.googleapis.com/css?family=Oxygen&display=swap');

#sideWrapper {
	box-shadow: 1px 0px 10px rgba(0, 0, 0, 0.2);
}

#sidebar {
    min-width: 200px;
	max-width: 250px;
	background-color: #f8f8f8;
	min-height: 100vh;
	padding: 1rem;
	padding-top: 2rem;

	z-index: 1;
}
#sidebar.active {
    margin-left: -250px;
}

.sideLink {
	padding: 1.3rem;
}
.sideLink img {
	display: block;
	margin: auto;
}
.sideLink a {
	font-family: 'Oxygen', Arial, Helvetica, sans-serif;
	font-weight: 600;
	font-size: 1em;
	letter-spacing: 0.5px;
	padding: 5px;
	color: #255f8e;
	display: block;
	text-align: center;
	text-decoration: none;
}